.table-operations {
    margin-bottom: 16px;
  }

  .table-operations > button {
    margin-right: 8px;
  }
  .button-corner {
    position: fixed;
    bottom: 70px;
    right: 42px;
    display: flex;
    justify-content: space-evenly;
  }
  .button {
    margin-right: 8px;
    margin-bottom: 8px;
    width: 70px;
    text-align: center;
    padding: 0;
  }