<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Sign In </h2>
    <!-- <h2 class="inactive underlineHover">Sign Up </h2> -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../assets/logo1.PNG" />
    </div>

    <!-- Login Form -->
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <input type="text" id="login" class="fadeIn second" formControlName="Email" placeholder="Username">
      <input type="text" id="password" class="fadeIn third" formControlName="Password" placeholder="Password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover">Forgot Password?</a>
    </div>

  </div>
</div>