<div class="table-operations">
  <button nz-button [routerLink]="['create']">Create Designation</button>
  <button nz-button>Sort age</button>
  <button nz-button>Clear filters</button>
  <button nz-button>Clear filters and sorters</button>
</div>
<nz-table #editRowTable nzBordered [nzData]="['']">
  <thead>
    <tr>
      <th>Designation Id</th>
      <th>Employee Id</th>
      <th>Designation Name</th>
      <th>UserId</th>
      <th>CompanyId</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of _designationList">
      <td>{{ data.positionId }}</td>
      <td>{{ data.employeeId }}</td>
      <td>{{ data.positionName }}</td>
      <td>{{ data.userId }}</td>
      <td>{{ data.companyId }}</td>
      <td>
        <nz-button-group>
          <button nz-button nzType="primary" [routerLink]="['update/',data.positionId]"><i nz-icon nzType="edit"
              nzTheme="outline"></i></button>
          <button nz-button nzType="primary" (click)="deleteDesignation(data.positionId)"><i nz-icon nzType="delete"
              nzTheme="outline"></i></button>
          <button nz-button nzType="primary"><i nz-icon nzType="fund-view" nzTheme="outline"></i></button>
        </nz-button-group>
      </td>
    </tr>
  </tbody>
</nz-table>