<nz-page-header-title> Employee Leave Rules</nz-page-header-title>
<form nz-form [formGroup]="leaveRulesForm" (ngSubmit)="onSubmit()">
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Leave" nzRequired>Employee Leave Group Name</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-select formControlName="LeaveGroup" nzAllowClear nzPlaceHolder="Select Leave Group Name">
                <nz-option *ngFor="let leave of leavList" [nzLabel]="leave.leaveName" [nzValue]="leave.leaveName">
                    {{leave.leaveName}}</nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="JobTitle" nzRequired>JobTitle</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input type="text" formControlName="JobTitle" id="JobTitle" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="EmploymentStatus" nzRequired>Employment Status Name</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-select formControlName="EmploymentStatus" nzAllowClear nzPlaceHolder="Select Employment Status Name">
                <nz-option *ngFor="let status of statusList" [nzLabel]="status.employmentStatusName"
                    [nzValue]="status.employmentStatusName">{{status.employmentStatusName}}</nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="EmployeeName" nzRequired>Employee Name</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-select formControlName="EmployeeName" nzAllowClear nzPlaceHolder="Select Employee Name">
                <nz-option *ngFor="let emp of employeeList" [nzLabel]="emp.firstName" [nzValue]="emp.firstName">
                    {{emp.firstName}}</nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Experience" nzRequired>Experience</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input type="text" formControlName="Experience" id="Experience" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="LeavePerYear" nzRequired>LeavePerYear</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input type="text" formControlName="LeavePerYear" id="LeavePerYear" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="JobTitleId" nzRequired>JobTitleId</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input type="text" formControlName="JobTitleId" id="JobTitleId" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="EmployeeId" nzRequired>Employee Id</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input type="text" formControlName="EmployeeId" id="EmployeeId" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="LeaveTypeId" nzRequired>Leave Type Id
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input type="text" formControlName="LeaveTypeId" id="LeaveTypeId" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary">Save</button>
        </nz-form-control>
    </nz-form-item>
</form>