<nz-page-header-title>Employee Certification</nz-page-header-title>
<form nz-form [formGroup]="employeeCertificationForm" (ngSubmit)="onSubmit()">
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="EmployeeName" nzRequired>Employee Name</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input type="text" formControlName="EmployeeName" id="EmployeeName" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Certification" nzRequired>Certification</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input type="text" formControlName="Certification" id="Certification" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Institute" nzRequired>Institute</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input type="text" formControlName="Institute" id="Institute" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="GrantedOn" nzRequired>Granted On</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-date-picker type="text" formControlName="GrantedOn"></nz-date-picker>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="ValidThru" nzRequired>Valid Thru</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-date-picker type="text" formControlName="ValidThru"></nz-date-picker>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="EmployeeId" nzRequired>Employee Id</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input type="text" formControlName="EmployeeId" id="EmployeeId" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="CertificationId" nzRequired>Certification Id</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input type="text" formControlName="CertificationId" id="CertificationId" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary">Save</button>
        </nz-form-control>
    </nz-form-item>
</form>