<nz-layout *ngIf="isAuthenticated">
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <div class="sidebar-logo">
            <a target="_blank">
                <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
                <h1>HRM</h1>
            </a>
        </div>
        <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li nz-submenu nzTitle="Settings" nzIcon="transaction" nzTheme="outline">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="dashboard/settings/company">Company</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="dashboard/settings/education">Education</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="dashboard/settings/employment-status">Employment Status</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="dashboard/settings/certification">Certification</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="dashboard/settings/client">Client</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="dashboard/settings/expense">Expense</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="dashboard/settings/holiday">Holiday</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="dashboard/settings/job-title">Job Title</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="dashboard/settings/language">Language</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="dashboard/settings/leave-type">Leave Type</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="dashboard/settings/over-time">Over Time</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="dashboard/settings/paygrade">Paygrade</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="dashboard/settings/payment-method">Payment Method</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="dashboard/settings/project">Project</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="dashboard/settings/skill">Skill</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="dashboard/settings/work-week">Work Week</a>
                    </li>
                </ul>
            </li>
            <li nz-submenu nzTitle="HRM" nzIcon="appstore" nzTheme="outline">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="dashboard/hrm/attendance">Attendance</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="dashboard/hrm/archieved">Employee Archive</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="dashboard/hrm/employee-attendance">Employee Attendance</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="dashboard/hrm/employee-certifaication">Employee Certification</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="dashboard/hrm/employee-deactivate">Employee Deactivate</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="dashboard/hrm/employee-dependent">Employee Dependent</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="dashboard/hrm/employee-education">Employee Education</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="dashboard/hrm/emergency-contact">Emergency Contact</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="dashboard/hrm/employee-expense">Employee Expense</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="dashboard/hrm/employee-language">Employee Language</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="dashboard/hrm/employee-leave">Employee Leave</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="dashboard/hrm/employee-project">Employee Project</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="dashboard/hrm/employee-skill">Employee Skill</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="dashboard/hrm/leave-period">Leave Period</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="dashboard/hrm/leave-rules">Leave Rules</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="dashboard/hrm/loan-type">Loan Type</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="dashboard/hrm/monitor-attendance">Monitor Attendance</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="dashboard/hrm/my-project">My Project</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="dashboard/hrm/over-time">OverTime Request</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="dashboard/hrm/paid-time">Paid Time</a>
                    </li>
                </ul>
            </li>
            <li nz-submenu nzOpen nzTitle="Payroll" nzIcon="ungroup" nzTheme="outline">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="dashboard/hrm/personal-document">Personal Document</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="dashboard/hrm/training-session">Training Session</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="dashboard/hrm/employee-loan">Employee Loan</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="dashboard/hrm/employee-payroll">Employee Payroll</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="dashboard/hrm/employee-tax">Employee Tax</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
                (click)="isCollapsed = !isCollapsed"></i>
            <div class="user-area">
                <span>
                    <nz-tag [nzColor]="'#87d068'">{{userName}}</nz-tag>
                </span>
                <nz-badge [nzCount]="5" style="margin-right: 24px;">
                    <nz-avatar nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png">
                    </nz-avatar>
                </nz-badge>
                <span class="header-trigger" (click)="showModalMiddle()">
                    <i nz-icon nzType="logout" nzTheme="outline"></i>
                </span>
            </div>
        </nz-header>
        <nz-modal [(nzVisible)]="isVisibleMiddle" nzTitle="Logout" nzCentered
            (nzOnCancel)="handleCancelMiddle()" (nzOnOk)="handleOkMiddle()">
            <ng-container *nzModalContent>
                <p>Clic Ok</p>
                <p>To</p>
                <p>Logout</p>
            </ng-container>
        </nz-modal>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
        <nz-drawer [nzClosable]="true" nzPlacement="right" nzTitle="User Notifications">
            <nz-list [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
                <ng-template #item let-item>
                    <nz-list-item>
                        <nz-list-item-meta [nzTitle]="nzTitle"
                            nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
                            nzDescription="Ant Design, a design language for background applications">
                            <ng-template #nzTitle>
                                <a href="https://ng.ant.design"></a>
                            </ng-template>
                        </nz-list-item-meta>
                    </nz-list-item>
                </ng-template>
            </nz-list>
        </nz-drawer>
    </nz-layout>
</nz-layout>
<router-outlet *ngIf="!isAuthenticated"></router-outlet>