<nz-page-header-title> Employee Holiday</nz-page-header-title>
<form nz-form [formGroup]="holidayForm" (ngSubmit)="onSubmit()">
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Name" nzRequired>Name</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input type="text" formControlName="Name" id="Name" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Date" nzRequired>Date</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-date-picker type="text" formControlName="Date"></nz-date-picker>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Status" nzRequired>Status</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input type="text" formControlName="Status" id="Status" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Country" nzRequired>Country</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input type="text" formControlName="Country" id="Country" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="EmployeeId" nzRequired>Employee Id</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input type="dropdown" formControlName="EmployeeId" id="EmployeeId" />
        </nz-form-control> -->

        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="EmployeeId" nzRequired>Employee</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-select formControlName="EmployeeId" id="EmployeeId">
                <nz-option [nzLabel]="'Between'" [nzValue]="-1"></nz-option>
                <nz-option *ngFor="let item of _employeeList" [nzLabel]="item.firstName + ' ' + item.lastName" [nzValue]="item.employeeId" ></nz-option>
              </nz-select>
        </nz-form-control>
        
        <nz-input-group nzCompact>
            
          </nz-input-group>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="WorkWeekId" nzRequired>WorkWeek</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-select formControlName="WorkWeekId" id="WorkWeekId">
                <nz-option [nzLabel]="'Between'" [nzValue]="-1"></nz-option>
                <nz-option *ngFor="let item of _workWeekList" [nzLabel]="item.status" [nzValue]="item.workWeekId" ></nz-option>
              </nz-select>

        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary">Save</button>
        </nz-form-control>
    </nz-form-item>
</form>
